<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario muito legal</title>
</head>
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        font-weight: 200;
        font-style:italic;
    }
</style>
<body>
    <h1><u>formulario</u></h1>
    <form action="">
        <label for="fname">Seu nome:</label> <br>
        <input type="text" id="fname" name="fname"><br>
        <label for="fsobrenome">Seu sobrenome:</label><br>
        <input type="text" id="fsobrenome" name="fsobrenome"> <br>
        <p>qual e a melhor cidade:</p>
        <input type="radio" id="opcoes" name="opcoes">
        <label for="opcoes"> Carapebus</label>
        <input type="radio" id="qui" name="opcoes">
        <label for="qui">Quissamã</label>
        <input type="radio" id="Macae" name="opcoes">
        <label for="Macae">Macaé</label><br>
        <button type="submit">enviar</button>
    </form>
</body>
</html>
