<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%= resposta%>
    <h1>Adivinhe o número que eu escolhi entre 1 á 100 </h1>
    <input type="number" name="adivinhe" id="adivinhe">
    <input type="button" value="tentativa">
</body>
</html>